# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.env.*
*.sqlite3

# =========================
# Django specific
# =========================
db.sqlite3
staticfiles/
media/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo